.rightSidebarLayout {
    display: flex;
    height: 100vh;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--black-5);
    padding: 0 141px 0 80px;
}

.sidebar {
    flex-basis: 26%;
}