.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    background: var(--black-5);
}

.content {
    display: flex;
    flex-direction: column;
}

.score {
    font-size: 32px;
    color: var(--black-40);
}

.award {
    font-size: 56px;
}

.button {
    margin-top: 64px;
}